.Filter {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 30px;
	background: #666;

	.scrolable-content {
		width: 100%;
		overflow: auto;

		&:before,
		&:after {
			content: "";
			display: none;
			position: absolute;
			width: 30px;
			height: 100%;
			//background: red;
			top: 0;
			pointer-events: none;

			@media screen and (max-width: 800px) {
				display: block;
			}

		}

		&:before {
			left: 0;
			background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
			background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
			background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=1);
		}

		&:after {
			right: 0;
			background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
			background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
			background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=1);
		}
	}

	ul {

		display: flex;
		padding: 0;
		margin: auto;
		flex-flow: row;
		text-align: center;
		justify-content: space-evenly;
		height: 100%;
		min-width: 800px;

		li {
			list-style: none;
			font-size: 14px;
			color: #FFF;
			line-height: 27px;
			min-width: 60px;
			text-overflow: ellipsis;
			border-bottom: 3px solid #909090;
			display: block;
			margin: 0 3px;
			cursor: pointer;
			transition: border-color .3s;
			z-index: 99;

			&:hover {
				border-bottom-color: #338654;
			}

			&.active {
				border-bottom-color: #ff4ffa;

			}
		}
	}
}